.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
dist

*.sublime*

psd
thumb
sketch


.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache
yarn-error.log
tsconfig.tsbuildinfo